@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
}

.site-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.button {
  min-height: 36px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/* header */

.header {
  color: #000000;
}

.navigation-list .navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.button-navigation {
  min-width: 160px;
}

/* index - main */

.hero {
  background-color: #83B3D333;
  background-image: url("../images/bg-hero.jpg");
  background-size: 100% auto;
  height: 485px;
  background-repeat: no-repeat;

}

.title,
.advantages-title,
.service-title,
.text,
.advantages-description,
.service-description {
  text-align: center;

}

.title,
.advantages-title,
.service-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.title {
  font-size: 30px;
  line-height: 36px;
}

.advantages-title,
.service-title {
  font-size: 24px;
  line-height: 28px;
}

.text {
  font-size: 22px;
  line-height: 26px;
}

.white-text {
  color: #FFFFFF;
}

.advantages-item {
  background-color: #82B3D3;
}

.bg-color-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-color-grey-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

/* index - search */

.button-search {
  min-height: 52px;
  min-width: 376px;
  font-size: 20px;
  line-height: 36px;
}

/* index - subscribe */

.subscribe-index {
  background-color: #82B3D3;
  background-image: url("../images/bg-subscribe.jpg");
  background-size: 100% auto;
  height: 415px;
  background-repeat: no-repeat;
}

.subscribe-field {
  min-width: 452px;
  min-height: 52px;
  border-radius: 4px;
  border: 0;
  background-color: #F2F2F2;
}

.subscribe-button {
  min-width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

/* footer */

.footer-contacts {
  text-align: center;
}

.contacts-phone {
  text-decoration: none;
  font-style: normal;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

/* catalog - filter */

.filter {
  background-color: #98d4f9;
  background-image: url("../images/bg-filter.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.conteol-input-min,
.conteol-input-max {
  min-width: 143px;
  min-height: 48px;
  border-radius: 4px;
  border: 0;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.button-filter {
  background-color: #82B3D3;
  min-width: 191px;
}

.button-filter-reset {
  background-color: transparent;
}

/* catalog - catalog */

.select-control {
  min-width: 292px;
  min-height: 49px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000
}

.hotel-card-rate {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-catalog-more,
.button-catalog-to-favorites,
.button-catalog-in-favorites {
  min-width: 140px;
}

.button-catalog-to-favorites {
  background-color: #82B3D3;
}

.button-catalog-in-favorites {
  background-color: #7DB54F;
}

/* pagination */

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  min-height: 60px;
  min-width: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-hidden {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
